<h1>Last Posts</h1>
<hr />
<table class="table table-dark table-hover table-bordered">
    <thead>
        <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">Post</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr class="align-middle">
            <th class="text-center" scope="row">1</th>
            <td>sunt aut facere repellat provident occaecati excepturi optio reprehenderit</td>
            <td class="text-center">
                <button type="button" class="btn btn-outline-light">Ver más</button>
            </td>
        </tr>
        <tr class="align-middle">
            <th class="text-center" scope="row">2</th>
            <td>Jacob</td>
            <td class="text-center">
                <button type="button" class="btn btn-outline-light">Ver más</button>
            </td>
        </tr>
        <tr class="align-middle">
            <th class="text-center" scope="row">3</th>
            <td>Larry the Bird</td>
            <td class="text-center">
                <button type="button" class="btn btn-outline-light">Ver más</button>
            </td>
        </tr>
    </tbody>
</table>