<article class="container">
    <h3> Detalle del post: 1</h3>
    <div class="mt-5">
        <h1>Heading</h1>
        <p class="mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam fugit voluptas odit? Impedit natus error rerum cupiditate laudantium dolores alias magnam esse sint animi! Asperiores inventore deleniti recusandae tenetur magnam deserunt itaque corporis
            laboriosam blanditiis! Repellat fugit hic soluta nostrum maxime ipsa corporis excepturi fugiat alias. Placeat repellat, nulla soluta odio aliquam adipisci ut minima! Illum, eaque. Rem sed hic blanditiis consectetur repudiandae, expedita libero
            soluta aliquid nesciunt aperiam ab, et impedit praesentium deserunt perspiciatis placeat quaerat saepe voluptas repellendus doloribus quia incidunt labore reprehenderit quibusdam? Rem sunt ea eaque rerum quasi, error, iure, nobis tempore accusantium
            suscipit voluptatum mollitia!</p>
    </div>
</article>