<section class="mb-5">
    <div class="card bg-dark border-light mt-5">
        <div class="card-header border-light text-center card__title">
            Comentarios
        </div>
        <div class="card-body">
            <div class="card__comment">
                <h5 class="card-title mt-4">Roberto</h5>
                <p class="card-text mt-3">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="text-center d-grid gap-2 col-2 mx-auto">
                <button class="btn btn-light btn-lg mt-5">Emitir</button>
            </div>
        </div>
    </div>
</section>